.venv/
venv/
__pycache__/
*.pyc
*.db
*.sqlite3
.env
.DS_Store
node_modules/
cloudflared.exe
cloudflared.exe
vidya_preview.png
vidya_preview.svg
_color_preview.png
_cat.*
_flower.*
_color_preview2.png
_c_*
_color_preview3.png
_m*.svg
_m*.png
_p*.svg
_p*.png
corpus.db
corpus.db.old
corpus.db.building
